<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" style="margin-top : 50px;">
  
      <form #f="ngForm" (ngSubmit)="Login(f)" class="form-horizontal" >
    
        <div class="panel panel-default" style="background-color:dimgray; width: 450px;">
          <div class="tag">
            <h2 class=".col-xs-12 .col-md-8"><b>Register Form</b></h2>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class=".col-xs-12 .col-md-8" style="color:#ffffff">Your Name</label><br>
              <div class="col-xs-12">
                <input type="text" class="form-control" name="name" placeholder="Name" ngModel >
              </div>
            </div>
            <div class="form-group">
              <label class=".col-xs-12 .col-md-8" style="color:#ffffff">Your Email Address</label><br>
              <div class="col-xs-12">
                <input type="text" class="form-control" name="email" placeholder="Email" ngModel >
              </div>
            </div>
            <div class="form-group">
              <label class=".col-xs-12 .col-md-8" style="color:#ffffff">Create Your Password</label><br>
              <div class="col-xs-12">
                <input type="password" class="form-control" name="password" placeholder="Password" ngModel >
              </div>
            </div>
            <br>
            <div class= "col-xs-12 col-md-8">
            <button  style="background-color:crimson; color: #ffffff; width: 400px; heigth: 25px;" type="submit" class="btn btn-default" onclick="if(!this.form.checkbox.checked){alert('You must agree to the terms first.');return false}" >SignUp</button><br><br>
          </div>



          <div class= "col-xs-12 col-md-8"> 
              
                <input type="checkbox" name="checkbox" value="check"  />
                <label class="label-checkbox100" for="ckb1">
                    i agree for the Terms of service
                </label>
              
            </div>
          </div>
            
            
          </div>
     
    
      </form>
  
    </div>