<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" style="margin-top : 50px;">
  
      <form #f="ngForm" (ngSubmit)="Login(f)" class="form-horizontal" >
    
        <div class="panel panel-default" style="background-color:dimgray; width: 350px; height: 400px">
          <div class="tag">
            <h2 class=".col-xs-12 .col-md-8"><b>Login Form</b></h2>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class=".col-xs-12 .col-md-8" style="color:#ffffff">Username or Email</label><br>
              <div class="col-md-12">
                <input type="text" class="form-control" name="username" placeholder="Emai" ngModel >
              </div>
            </div>
            <div class="form-group">
              <label class=".col-xs-12 .col-md-8" style="color:#ffffff">Password</label><br>
              <div class="col-md-12">
                <input type="password" class="form-control" name="password" placeholder="Password" ngModel >
              </div>
            </div>
            <br>
            <div class= "col-xs-12 col-md-8">
            <button  style="background-color:crimson; color: #ffffff; width: 300px; heigth: 25px;" type="submit" value="submit" class="btn btn-default" onclick="if(!this.form.checkbox.checked){alert('You must agree to the terms first.');return false}" >Login</button><br><br><br>
          </div>



          <div class= " col-md-8"> 
              
                <input type="checkbox" name="checkbox" value="check"  />
                <label class="label-checkbox100" for="ckb1">
                    remember me
                  </label>
             
          </div>

						<div class = "col-md-4">
							<a href="#" class="txt1" style="color:rgb(10, 89, 92)" >
								Forgot?
							</a>
            </div>
            
            
          </div>
        </div>
    
      </form>
  
    </div>
 
   